# This is the OpenMW user 'settings.cfg' file.  This file only contains
# explicitly changed settings.  If you would like to revert a setting
# to its default, simply remove it from this file.  For available
# settings, see the file 'files/settings-default.cfg' in our source repo or the documentation at:
#
#   https://openmw.readthedocs.io/en/master/reference/modding/settings/index.html

[General]
anisotropy = 16
texture mipmap = linear

[Shaders]
light bounds multiplier = 5
light fade start = 1
minimum interior brightness = 0
lighting method = shaders compatibility

[Video]
fullscreen = true
resolution x = 3840
resolution y = 2160
framerate limit = 120
antialiasing = 4

[Water]
refraction = true
rtt size = 2048
shader = true

[Sound]
device = 
hrtf = 

[Saves]
character = Jon
